<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mainpage.css">
    <title>mainpage</title>
</head>
 <body>
     <div id="page_wrap">
        <div id="left_side_content">
            <div id ="left_side_top">
                 <div id="logo">
                  <a href="#">LOGO</a>
                 </div>
            </div>
            <div id="left_side_bottom">
                <div id="login">
                  <button id="login_btn">LOGIN</button>
                  <button id="signup_btn">SIGNUP</button>
                </div>
            </div>
        </div>
        <div id="right_side_post_content">
            <div id="header">
                <div id="nav">
                    <ul>
                        <li>
                            <a href="#">포스트</a>
                        </li>
                        <li>
                            <a href="#">실천 타임라인</a>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                        </li>
                        <li>
                            <a href="#">펀딩</a>
                        </li>
                        <li>
                            <a href="#">이벤트</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <div id="funding_post">
                    Funding
                    <ul>
                        <li>
                            <a href="#"><img id="funding_first" src="event_sample.jfif"></a>
                            <div id="p_bar1">
                                <div id="progress1"></div>
                                <p id ="progress1_text"></p>
                            </div>
                        </li>
                        <li>
                            <img id="funding_second" src="event_sample2.jfif">
                            <div id="p_bar2">
                                <div id="progress2"></div>
                                <p id ="progress2_text"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="today_post">
                   Today's Post
                   <ul>
                        <li>
                            <img id="post_first"  class="post" src="event_sample3.jfif">
                            <p id="title_1" class="post_title">수원 행동궁 플라스틱 프리 카페 '노스목위닷파'</p>
                            <p id="article_1" class="post_text">오늘은 행동궁에 좋은 카페를 발견해 추천 드리려고 글을...</p>
                        </li>
                        <li>
                            <img id="post_second" class="post" src =event_sample4.jfif>
                            <p id="title_2" class="post_title">수원 행동궁 플라스틱 프리 카페 '노스목위닷파'</p>
                            <p id="article_2" class="post_text">오늘은 행동궁에 좋은 카페를 발견해 추천 드리려고 글을...</p>
                        </li>
                        <li>
                            <img id="post_third" class="post" src="event_sample5.jfif">
                            <p id="title_3" class="post_title">수원 행동궁 플라스틱 프리 카페 '노스목위닷파'</p>
                            <p id="article_3" class="post_text">오늘은 행동궁에 좋은 카페를 발견해 추천 드리려고 글을...</p>
                        </li>
                    </ul>
                </div>
               <div id ="banner">

               </div>
            </div>
        </div>
       </div>
    </body>
</html>